In [3]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('train.csv')

In [19]:
x_raw = df[['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC','NU_NOTA_REDACAO']]
x_raw.head()

   NU_NOTA_CN  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_REDACAO
0       436.3       495.4       581.2            520.0
1       474.5       544.1       599.0            580.0
5       439.7       583.2       410.9            620.0
6       420.1       604.2       484.5            560.0
7       619.6       625.8       611.2            620.0

In [20]:
y_raw = df['NU_NOTA_MT']
y_raw.head()

0    399.4
1    459.8
5    364.5
6    529.2
7    566.7
Name: NU_NOTA_MT, dtype: float64

In [21]:
# juntar matrizes e tirar NaNs
df = pd.concat([x_raw,y_raw], join='outer', axis=1).dropna(axis=0)
# tirar zeros
#df = df[(df != 0).all(1)]

In [22]:
X = df[['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC','NU_NOTA_REDACAO']]
Y = df['NU_NOTA_MT']

In [23]:
#checar se existem strings
check = Y.eq(str).all()
print(check.sum())

0

In [24]:
#checar se existem NaNs
check = Y.isna().all()
print(check.sum())

0

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.15,random_state=None)
X_train.head()

      NU_NOTA_CN  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_REDACAO
8494       490.7       537.2       396.8            340.0
7990       455.3       507.8       495.0            500.0
17         474.4       540.0       517.4            460.0
4682       567.7       551.6       605.1            780.0
2461       392.3       512.2       516.9            420.0

In [43]:
from sklearn.linear_model import LinearRegression
modelo = LinearRegression(normalize=True)
modelo.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [34]:
y_previsto = modelo.predict(X_test)

In [35]:
from sklearn.metrics import r2_score
print('R²: %s' % r2_score(Y_test, y_previsto).round(3))

R²: 0.424

In [37]:
#tentativa com polinomio
from sklearn.preprocessing import PolynomialFeatures
poly_reg = PolynomialFeatures(degree = 3)

X_poly = poly_reg.fit_transform(X_train)

poly_reg.fit(X_poly, Y_train)
modelo.fit(X_poly, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [39]:
X_poly2 = poly_reg.fit_transform(X_test)
X_poly2

array([[1.00000000e+00, 5.65200000e+02, 5.58400000e+02, ...,
        1.76862942e+08, 2.05308040e+08, 2.38328000e+08],
       [1.00000000e+00, 4.41200000e+02, 5.80800000e+02, ...,
        1.82673857e+08, 2.61118080e+08, 3.73248000e+08],
       [1.00000000e+00, 5.38000000e+02, 5.37600000e+02, ...,
        1.25515359e+08, 1.32847520e+08, 1.40608000e+08],
       ...,
       [1.00000000e+00, 5.99700000e+02, 6.17400000e+02, ...,
        2.29231686e+08, 3.17217920e+08, 4.38976000e+08],
       [1.00000000e+00, 4.54500000e+02, 4.98800000e+02, ...,
        6.53210136e+07, 3.00499200e+07, 1.38240000e+07],
       [1.00000000e+00, 4.34500000e+02, 4.86000000e+02, ...,
        8.17339906e+07, 5.66786800e+07, 3.93040000e+07]])

In [40]:
y_previsto2 = modelo.predict(X_poly2)
y_previsto2 = pd.DataFrame(y_previsto2)

In [41]:
print('R²: %s' % r2_score(Y_test, y_previsto2).round(3))

R²: 0.464

# Treinar com toda a planilha

In [44]:
poly_reg = PolynomialFeatures(degree = 3)

X_poly = poly_reg.fit_transform(X)

poly_reg.fit(X_poly, Y)
modelo.fit(X_poly, Y)
type(modelo)

sklearn.linear_model.base.LinearRegression

In [46]:
df2 = pd.read_csv('test.csv')

In [47]:
x2 = df2[['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC','NU_NOTA_REDACAO']].dropna(thresh=3)
x2.head()

   NU_NOTA_CN  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_REDACAO
0       464.8       443.5       431.8            420.0
1       391.1       491.1       548.0            580.0
2       595.9       622.7       613.6            320.0
4       592.9       492.6       571.4            320.0
5       414.5       568.5       542.5            560.0

In [48]:
X_poly3 = poly_reg.fit_transform(x2)
poly_reg.fit(X_poly3)
X_poly3

array([[1.00000000e+00, 4.64800000e+02, 4.43500000e+02, ...,
        7.83095208e+07, 7.61695200e+07, 7.40880000e+07],
       [1.00000000e+00, 3.91100000e+02, 4.91100000e+02, ...,
        1.74176320e+08, 1.84347200e+08, 1.95112000e+08],
       [1.00000000e+00, 5.95900000e+02, 6.22700000e+02, ...,
        1.20481587e+08, 6.28326400e+07, 3.27680000e+07],
       ...,
       [1.00000000e+00, 4.27600000e+02, 5.79700000e+02, ...,
        1.15406309e+08, 1.27385440e+08, 1.40608000e+08],
       [1.00000000e+00, 6.39200000e+02, 6.43800000e+02, ...,
        2.34178566e+08, 2.47767040e+08, 2.62144000e+08],
       [1.00000000e+00, 4.27100000e+02, 4.67900000e+02, ...,
        1.51744341e+08, 1.46070080e+08, 1.40608000e+08]])

In [49]:
notas_matematica = modelo.predict(X_poly3)
len(notas_matematica)

3360

In [50]:
dados = df2[['NU_INSCRICAO','NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC','NU_NOTA_REDACAO']].dropna()
len(dados)

3360

In [51]:
dados['NU_NOTA_MT'] = notas_matematica
dados.head()

,NU_INSCRICAO,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_REDACAO,NU_NOTA_MT
0,73ff9fcc02f0a99919906c942c2e1a1042cdcf98,464.8,443.5,431.8,420.0,425.573901
1,71a95f9f1b91a82c65ad94abbdf9f54e6066f968,391.1,491.1,548.0,580.0,445.427858
2,b38a03232f43b11c9d0788abaf060f7366053b6d,595.9,622.7,613.6,320.0,615.665851
4,715494628a50142ce8cb17191cfe6d0f3cae0934,592.9,492.6,571.4,320.0,524.024298
5,e656d6bad65c93fb2880f1eba5037008c8e75774,414.5,568.5,542.5,560.0,466.727150

In [52]:
dados['NOTA_PROVA'] = ((2*dados['NU_NOTA_CN'])+(dados['NU_NOTA_CH'])+
                       (1.5*dados['NU_NOTA_LC'])+(3*dados['NU_NOTA_REDACAO'])+
                       (3*dados['NU_NOTA_MT']))/10.5

In [53]:
dados.head()

,NU_INSCRICAO,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_REDACAO,NU_NOTA_MT,NOTA_PROVA
0,73ff9fcc02f0a99919906c942c2e1a1042cdcf98,464.8,443.5,431.8,420.0,425.573901,434.049686
1,71a95f9f1b91a82c65ad94abbdf9f54e6066f968,391.1,491.1,548.0,580.0,445.427858,492.531769
2,b38a03232f43b11c9d0788abaf060f7366053b6d,595.9,622.7,613.6,320.0,615.665851,527.799767
4,715494628a50142ce8cb17191cfe6d0f3cae0934,592.9,492.6,571.4,320.0,524.024298,482.625990
5,e656d6bad65c93fb2880f1eba5037008c8e75774,414.5,568.5,542.5,560.0,466.727150,503.945853

In [54]:
output = dados[['NU_INSCRICAO','NU_NOTA_MT','NOTA_PROVA']].sort_values('NOTA_PROVA',ascending=False)

In [55]:
output.drop(['NOTA_PROVA'], axis=1).head(20)

                                  NU_INSCRICAO  NU_NOTA_MT
1773  c363bec718e45cd6bf8cba599cc3990d77f95c22  930.159564
3272  890014a4e63d88574c62197a24fd43ba5749db83  983.256499
3140  084d4e847b3809c6ee6622dd2e095156230f471b  830.831774
107   328ca19128d276eb4fbc309c54ec7f346c803d2f  779.249930
1837  e6375694613198f8db0720d7a8a04d8263116116  776.387499
2889  ef5f221a0c4ed1747aa949dba2f629e98f3a9438  869.116918
3910  6d4bee056abcea733d36060113427081daae72d1  861.970913
2110  34333ed47110024961ff7a95cc92900ab6fbdd33  784.231621
2998  e6c93e838e090b96a97db0a212e3d5ad7e67a8c4  765.589345
1197  34d6082a74330b3f5bc565fc573674afaa03f661  824.879989
2131  bb4ec0a4a66bea29328f27b05364af97a510cee0  828.400786
307   c8feec2a94d996d03534ce935dec7a034667f107  850.879222
2615  c759ad904d22197f1cf3b5ef9e41ee1609513cea  737.124912
1037  fe8333dd7a48c2c6da19394b93e6413b2d969588  708.962509
2863  1c6cbf69a4c9bb53f3ca9c5417965c00e9f4404c  706.866984
2975  47f77c8edf0812b4dc1a2279f060e79c1d40b791  749.945473
3283  d3b6eab5a3d56dc9823cf355b3ac1f647378fd4c  653.758672
3707  3b6f2590bb08848ae5b7cd08a41d1cc6a628c1f6  751.104113
2016  1bd11a80b10302f02376d8b755ca5a296eea87ac  814.709694
318   9027f65d4e576928ca59690c280050c53d66506a  683.641197

In [56]:
output.to_csv('answer.csv', index=False)