In [105]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [106]:
df = pd.read_csv('./Desktop/Data Science/Desafio Codenation/train.csv')

In [107]:
x_raw = df[['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC','NU_NOTA_REDACAO']]
x_raw.head()

   NU_NOTA_CN  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_REDACAO
0       436.3       495.4       581.2            520.0
1       474.5       544.1       599.0            580.0
2         NaN         NaN         NaN              NaN
3         NaN         NaN         NaN              NaN
4         NaN         NaN         NaN              NaN

In [108]:
y_raw = df['NU_NOTA_MT']
y_raw.head()

0    399.4
1    459.8
2      NaN
3      NaN
4      NaN
Name: NU_NOTA_MT, dtype: float64

In [109]:
# juntar matrizes e tirar NaNs e zeros
df = pd.concat([x_raw,y_raw], join='outer', axis=1).dropna(axis=0)
df = df[(df != 0).all(1)]

In [110]:
X = df[['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC','NU_NOTA_REDACAO']]
Y = df['NU_NOTA_MT']

In [111]:
#checar se existem strings
check = Y.eq(str).all()
print(check.sum())

0

In [112]:
#checar se existem NaNs
check = Y.isna().all()
print(check.sum())

0

In [136]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.15,random_state=None)
X_train.head()

       NU_NOTA_CN  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_REDACAO
11409       476.6       574.4       554.8            440.0
13442       477.5       478.5       493.3            400.0
6832        428.3       505.4       551.7            500.0
5705        450.4       564.6       567.4            640.0
1896        442.0       472.3       395.5            640.0

In [114]:
from sklearn.linear_model import LinearRegression
modelo = LinearRegression()
modelo.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [115]:
y_previsto = modelo.predict(X_test)

In [116]:
from sklearn.metrics import r2_score
print('R²: %s' % r2_score(Y_test, y_previsto).round(3))

R²: 0.413

In [128]:
#tentativa com polinomio
from sklearn.preprocessing import PolynomialFeatures
poly_reg = PolynomialFeatures(degree = 3)

X_poly = poly_reg.fit_transform(X_train)

poly_reg.fit(X_poly, Y_train)
modelo.fit(X_poly, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [129]:
X_poly2 = poly_reg.fit_transform(X_test)
X_poly2

array([[1.00000000e+00, 5.00900000e+02, 3.89000000e+02, ...,
        7.05891800e+07, 6.22364000e+07, 5.48720000e+07],
       [1.00000000e+00, 5.30500000e+02, 5.85900000e+02, ...,
        1.56764938e+08, 1.57114080e+08, 1.57464000e+08],
       [1.00000000e+00, 5.09600000e+02, 5.97700000e+02, ...,
        2.68263475e+08, 3.16431360e+08, 3.73248000e+08],
       ...,
       [1.00000000e+00, 5.17800000e+02, 6.01100000e+02, ...,
        1.95748781e+08, 1.47133440e+08, 1.10592000e+08],
       [1.00000000e+00, 4.49800000e+02, 5.69700000e+02, ...,
        1.16060433e+08, 1.06286680e+08, 9.73360000e+07],
       [1.00000000e+00, 4.40200000e+02, 4.68800000e+02, ...,
        1.28004582e+08, 1.49932160e+08, 1.75616000e+08]])

In [130]:
y_previsto2 = modelo.predict(X_poly2)
y_previsto2 = pd.DataFrame(y_previsto2)

In [120]:
print('R²: %s' % r2_score(Y_test, y_previsto2).round(3))

R²: 0.461

# Treinar com toda a planilha

In [141]:
poly_reg = PolynomialFeatures(degree = 3)

X_poly = poly_reg.fit_transform(X)

poly_reg.fit(X_poly, Y)
modelo.fit(X_poly, Y)
type(modelo)

sklearn.linear_model.base.LinearRegression

In [142]:
df2 = pd.read_csv('./Desktop/Data Science/Desafio Codenation/test.csv')

In [143]:
x2 = df2[['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC','NU_NOTA_REDACAO']].dropna(thresh=3)
x2.head()

   NU_NOTA_CN  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_REDACAO
0       464.8       443.5       431.8            420.0
1       391.1       491.1       548.0            580.0
2       595.9       622.7       613.6            320.0
4       592.9       492.6       571.4            320.0
5       414.5       568.5       542.5            560.0

In [144]:
X_poly3 = poly_reg.fit_transform(x2)
poly_reg.fit(X_poly3)
X_poly3

array([[1.00000000e+00, 4.64800000e+02, 4.43500000e+02, ...,
        7.83095208e+07, 7.61695200e+07, 7.40880000e+07],
       [1.00000000e+00, 3.91100000e+02, 4.91100000e+02, ...,
        1.74176320e+08, 1.84347200e+08, 1.95112000e+08],
       [1.00000000e+00, 5.95900000e+02, 6.22700000e+02, ...,
        1.20481587e+08, 6.28326400e+07, 3.27680000e+07],
       ...,
       [1.00000000e+00, 4.27600000e+02, 5.79700000e+02, ...,
        1.15406309e+08, 1.27385440e+08, 1.40608000e+08],
       [1.00000000e+00, 6.39200000e+02, 6.43800000e+02, ...,
        2.34178566e+08, 2.47767040e+08, 2.62144000e+08],
       [1.00000000e+00, 4.27100000e+02, 4.67900000e+02, ...,
        1.51744341e+08, 1.46070080e+08, 1.40608000e+08]])

In [159]:
notas_matematica = modelo.predict(X_poly3)
len(notas_matematica)

3360

In [160]:
dados = df2[['NU_INSCRICAO','NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC','NU_NOTA_REDACAO']].dropna()
len(dados)

3360

In [161]:
dados['NU_NOTA_MT'] = notas_matematica
dados.head()

,NU_INSCRICAO,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_REDACAO,NU_NOTA_MT
0,73ff9fcc02f0a99919906c942c2e1a1042cdcf98,464.8,443.5,431.8,420.0,421.639513
1,71a95f9f1b91a82c65ad94abbdf9f54e6066f968,391.1,491.1,548.0,580.0,446.882701
2,b38a03232f43b11c9d0788abaf060f7366053b6d,595.9,622.7,613.6,320.0,602.777204
4,715494628a50142ce8cb17191cfe6d0f3cae0934,592.9,492.6,571.4,320.0,550.068202
5,e656d6bad65c93fb2880f1eba5037008c8e75774,414.5,568.5,542.5,560.0,466.881932

In [164]:
dados['NOTA_PROVA'] = ((2*dados['NU_NOTA_CN'])+(dados['NU_NOTA_CH'])+
                       (1.5*dados['NU_NOTA_LC'])+(3*dados['NU_NOTA_REDACAO'])+
                       (3*dados['NU_NOTA_MT']))/10.5

In [165]:
dados.head()

,NU_INSCRICAO,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_REDACAO,NU_NOTA_MT,NOTA_PROVA
0,73ff9fcc02f0a99919906c942c2e1a1042cdcf98,464.8,443.5,431.8,420.0,421.639513,432.925575
1,71a95f9f1b91a82c65ad94abbdf9f54e6066f968,391.1,491.1,548.0,580.0,446.882701,492.947438
2,b38a03232f43b11c9d0788abaf060f7366053b6d,595.9,622.7,613.6,320.0,602.777204,524.117296
4,715494628a50142ce8cb17191cfe6d0f3cae0934,592.9,492.6,571.4,320.0,550.068202,490.067105
5,e656d6bad65c93fb2880f1eba5037008c8e75774,414.5,568.5,542.5,560.0,466.881932,503.990076

In [174]:
output = dados[['NU_INSCRICAO','NU_NOTA_MT','NOTA_PROVA']].sort_values('NOTA_PROVA',ascending=False)

In [177]:
output.drop(['NOTA_PROVA'], axis=1).head(20)

                                  NU_INSCRICAO  NU_NOTA_MT
1773  c363bec718e45cd6bf8cba599cc3990d77f95c22  865.608895
3140  084d4e847b3809c6ee6622dd2e095156230f471b  811.046136
3272  890014a4e63d88574c62197a24fd43ba5749db83  933.193674
107   328ca19128d276eb4fbc309c54ec7f346c803d2f  749.462774
1837  e6375694613198f8db0720d7a8a04d8263116116  764.768087
3910  6d4bee056abcea733d36060113427081daae72d1  849.664731
2889  ef5f221a0c4ed1747aa949dba2f629e98f3a9438  829.307623
2110  34333ed47110024961ff7a95cc92900ab6fbdd33  764.293013
2998  e6c93e838e090b96a97db0a212e3d5ad7e67a8c4  753.173844
1197  34d6082a74330b3f5bc565fc573674afaa03f661  811.528055
2131  bb4ec0a4a66bea29328f27b05364af97a510cee0  811.871648
307   c8feec2a94d996d03534ce935dec7a034667f107  819.009687
1037  fe8333dd7a48c2c6da19394b93e6413b2d969588  711.435591
2615  c759ad904d22197f1cf3b5ef9e41ee1609513cea  715.723726
2863  1c6cbf69a4c9bb53f3ca9c5417965c00e9f4404c  699.955054
2975  47f77c8edf0812b4dc1a2279f060e79c1d40b791  754.636493
3707  3b6f2590bb08848ae5b7cd08a41d1cc6a628c1f6  745.648422
3283  d3b6eab5a3d56dc9823cf355b3ac1f647378fd4c  637.209050
3882  2abaa7d3759d277dd920da6e8099939c1f794be0  705.766425
3540  687448d804c924b64fb61ba94b1846007d6ab904  660.782398

In [180]:
output.to_csv('answer.csv', index=False)